{% extends "layout.html" %}
{% block body %}

        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="post" class="form-group login">
            <div class="form-row">
                <label for="e-mail" class="form-label"><span
                        class="fa fa-envelope-o fa-fw" aria-hidden="true"></span></label>
                <input id="e-mail" class="form-element" name="e-mail"
                       type="email" required placeholder="email address">
            </div>
            <div class="form-row">
                <label for="password" class="form-label"><span
                        class="fa fa-key fa-fw" aria-hidden="true"></span></label>
                <input id="password" class="form-element"
                       name="password" type="password" placeholder="password" required>
            </div>
            <div class="form-row">
                <input type="submit" id="login" value="Log In" class="button">
            </div>
        </form>
        <p>Don't have an account? <a
                href="{{ url_for('new_user') }}">Sign up now!</a></p>

{% endblock %}
